body {
    background-color: #0c83b1;
    color: #fefefe;
}

footer {
    text-align: center;
}

nav, h1, h2, h3, p, table, figure {
    font-family: "Verdana", monospace;
    text-align: center;
}

a {
    color: #66ffcc;
    text-decoration:none;
}

a:visited {
    color: #285d4b;
}

a:hover {
    color: #bdfff0;
}

a:active {
    color: #00bd7e;
}

.profile {
    max-width: 200px;
}

.contract {
    text-align: left;
}

li {
    margin: 15px auto;
    max-width: 500px;
    min-width: 300px;
    font-family: Verdana, monospace;
}

table, th, td {
    margin: 0 auto;
    border: 1px solid #fefefe;
}

tr:nth-child(odd) {
    background-color: #00668e;
}

th, .title-block {
    background-color: #013d55;
}

form {
    width: 500px;
    margin: 0 auto;
}

fieldset {
    padding: 1rem 3rem;
}

label {
    font-family: "Verdana", monospace;
    display: block;
    margin: 5px;
}

input {
    width: 80%;
    vertical-align: middle;
    margin-bottom: 10px;
    background-color: #034479;
    color: #fefefe;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type = "checkbox"], input[type = "radio"] {
    width: auto;
    margin-top: 10px;
}

.checkbox-label, .radio-label {
    display: inline;
}

.form-controls {
    width: 80px;
    margin: 1rem;
    display: inline-block;
}