@import url('https://fonts.googleapis.com/css?family=Hind+Guntur');
@import url('https://fonts.googleapis.com/css?family=Quantico');

@media (max-width: 576px)
{
    h1, h2, h3, p, ul, li {
        margin: 5px auto;
    }

    input:not([type = "button"]), textarea {
        width: 30%;
    }

    img {
        width: 150px;
    }
}

body {
    background-color: #050808;
    background-image: linear-gradient(to bottom, #1d2a2d, #050808);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #E4E4F5;
    font-family: "Hind Guntur", monospace;
}

footer, nav {
    text-align: center;
}

h1, h2, table, figure {
    font-family: "Quantico", monospace;
    text-align: center;
}

h3, h4 {
    font-family: "Quantico", monospace;
    margin-left: 10%;
}

h1, h2, h3, h4 {
    text-shadow: 0 0 2.5px;
}

p {
    margin: 20px 10%;
    text-indent: 50px;
}

a {
    color: #89bbfe;
    text-decoration:none;
}

a:hover {
    color: #5da3fd;
}

a:active {
    color: #2180fd;
}

.profile {
    max-width: 200px;
}

.contract {
    text-align: left;
}

li {
    margin: 15px auto;
    max-width: 700px;
    min-width: 300px;
    font-family: 'Hind Guntur', monospace;
}

table, th, td {
    margin: 0 auto;
    border: 1px solid #fefefe;
}

tr:nth-child(even) {
    background-color: #2a166d;
}

tr:nth-child(odd) {
    background-color: #061577;
}

th, .title-block {
    background-color: #06003e;
}

form {
    width: 500px;
    margin: 0 auto;
}

fieldset {
    padding: 1rem 3rem;
    border: 1px solid #b3dbfc;
}

label {
    font-family: "Verdana", monospace;
    display: block;
    margin: 5px;
}

input:not([type = "button"]), textarea {
    width: 80%;
    vertical-align: middle;
    margin-bottom: 10px;
    background-color: #10202c;
    border: 1px solid #b3dbfc;
    color: #fefefe;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type = "button"], input[type = "submit"], input[type = "reset"] {
    background-color: #27294e;
    color: #E4E4F5;
    border: 1px solid #b3dbfc;
    width: 100px;
    align-items: center;
    display: inline-block;
    vertical-align: middle;
}

input[type = "button"]:hover, input[type = "submit"]:hover, input[type = "reset"]:hover {
    background-color: #474180;
}

input[type = "button"]:active, input[type = "submit"]:active, input[type = "reset"]:active {
    background-color: #06003e;
    border: 1px solid #819fb8;
}

input[type = "text"] {
    display: block;
}

textarea {
    height: 100px;
    resize: none;
}

input[type = "checkbox"], input[type = "radio"] {
    width: auto;
    margin-top: 10px;
}

.checkbox-label, .radio-label {
    display: inline;
}

.form-controls {
    width: 80px;
    margin: 1rem;
    display: inline-block;
}

.secondary-nav {
    font-size: 14px;
}

.custom-buttons {
    display: block !important;
    margin: 20px auto;
    width: 200px !important;
}

.custom-button-output {
    text-align: center;
    text-indent: 0;
}

#back-button{
    margin: 20px auto;
    width: 150px;
    display: block;
}

#calculator {
    width: 160px;
    padding: 0;
    margin: 0 auto;
    background-color: #2180fd;
    display: grid;
    grid-template-columns: repeat(auto-fit, 40px);
    grid-template-areas: "operator operator operator operator"
                         "button button button equals"
                         "button button button equals"
                         "button button button equals"
                         "button button button equals";
}

#calc-display {
    height: 43px;
    width: 160px;
    margin: 0 auto;
    background-color: #283b56;
    border: 2px solid #89bbfe;
    box-sizing: border-box;
    text-align: right;
    font-size: 27px;
    padding-right: 5px;
    padding-top: 2px;
}

#operator-display {
    margin: 0 auto -13px auto;
    padding-left: 6px;
    width: 160px;
    height: 15px;
    font-size: 12px;
    text-indent: 0;
}

#calculator button {
    background-color: #27294e;
    color: #E4E4F5;
    border: 1px solid #b3dbfc;
    font-family: Quantico, monospace;
    font-size: 20px;
}

#calculator button:hover {
    background-color: #474180;
}

#calculator button:active {
    background-color: #06003e;
    border: 1px solid #819fb8;
}

.operator-button, .number-button {
    height: 40px;
    width: 40px;
}

.equals-button {
    width: 100%;
    grid-area: equals;
}

#calc-caption {
    text-align: center;
    text-indent: 0;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 10px;
}

#sketch-holder {
    display: flex;
    justify-content: center;
}

.lettered-list {
    list-style-type: lower-alpha;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

* {
    box-sizing: border-box;
}

.slideshow-container {
    position: relative;
}

.slide {
    display: none;
    justify-content: center;
}

.cursor {
    cursor: pointer;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slide-label {
    color: #f2f2f2;
    font-size: 12px;
    padding: 6px;
    position: absolute;
    top: 10px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.5);
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 7.13%;
}

.demo {
    opacity: 0.6;
}

.active, .demo:hover {
    opacity: 1;
}