@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    background-color: #002e2c;
    color: #c8fbf6;
    font-family: "Nunito", sans-serif;
    padding: 10px 50px;
}

h1, h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
}

p {
    text-indent: 50px;
}

nav {
    text-align: center;
    background-color: #56445d;
    width: 420px;
    height: 33px;
    margin: 0 auto;
    border-radius: 50px;
    border: solid 2px #c8fbf6;
    padding-top: 10px;
    position: sticky;
}

nav div a {
    text-decoration: none;
    color: #ff4365;
    margin: 0 7px;
}

nav a:hover {
    color: #fda5b5;
}

nav div {
    display: inline-block;
    transition: transform 0.5s;
}

nav div:hover {
    transform: scale(1.2);
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: green;
    border: 2px solid #4CAF50;
  }