@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    background-color: #D6C9C9;
    color: #37393A;
    font-family: "Nunito", sans-serif;
    padding: 10px 50px;
}

header {
    position: sticky;
    top: 20px;
}

h1, h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
}

p {
    text-indent: 50px;
}

nav {
    text-align: center;
    background-color: #658E9C;
    width: 420px;
    height: 33px;
    margin: 0 auto;
    border-radius: 50px;
    border: solid 2px #37393A;
    padding-top: 10px;
    position: sticky;
    top: 20px;
}

a {
    text-decoration: none;
}

nav div a {
    color: #37393A;
    margin: 0 7px;
    font-weight: bold;
    transition: all 0.3s;
}

nav div a:hover {
    color: #e6e8eb;
}

nav div {
    display: inline-block;
    transition: transform 0.5s;
}

nav div:hover {
    transform: scale(1.2);
}

hr {
    margin-top: 30px;
    align-self: center;
    border-color: #37393A;
}

footer {
    text-align: center;
}