<header>
    <h1>Micah Petterson's Mellow Phoenix ☆ ITIS 3135</h1>
    <nav>
        <a href = "./">Home</a>
        ☆
        <a href = "introduction.html">Introduction</a>
        ☆
        <a href = "contract.html">Contract</a>
        ☆
        <a href = "tables.html">Tables</a>
        ☆
        <a href = "forms.html">Forms</a>
        ☆
        <a href = "website_evaluations.html">Website Evaluations</a>
        ☆
        <a href = "first_scripts.html">First Scripts</a>
        ☆
        <a href = "byo_intro.html">BYO Introduction</a>
        ☆
        <a href = "project_1.html">Project 1 Proposal</a>
        ☆
        <a href = "emmet.html">Emmet</a>
        ☆
        <a href = "calculator_try.html">Calculator</a>
    </nav>
    <nav class = "secondary-nav">
        <a href = "stuff/Untitled(1)-Copy.htm">Crap</a>
        ☆
        <a href = "project_1/">Project 1</a>
        ☆
        <a href = "hobby/">Hobby</a>
    </nav>
</header>